:root {
  --red: #bf362f;
  --white: #fff;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Press Start 2P', cursive;
  color: var(--white);
  height: 100svh;
}

#root {
  background: #00000090 url('src/assets/img/bg.png');
  background-size: cover;
  background-position: 50% 85%;
  background-blend-mode: darken;
  background-attachment: fixed;
  min-height: 100%;
}