:root {
  --black: #000;
  --red: #bf362f;
  --white: #fff;
  --darker-white: #ededed;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
button {
  font-family: "Press Start 2P", cursive;
}

html,
body {
  color: var(--white);
  height: 100svh;
}

#root {
  background-size: cover;
  background-position: 50% 85%;
  background-blend-mode: darken;
  background-attachment: fixed;
  min-height: 100%;
}

.screen-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
