#game-wrapper {
  height: 90%;
}

.card-wrapper {
  display: grid;
  gap: 3rem;
  grid-template: 1fr / repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
  width: 85%;
}

.card {
  background-color: #ffffff7b;
  border-radius: 2rem;
  cursor: pointer;
  color: black;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 3rem 1fr / 1fr;
  overflow: hidden;
  height: 300px;
  transition: all 0.25s;
}

.card:hover {
  transform: scale(0.95);
}

.card > img {
  object-fit: cover;
  height: 15rem;
  width: 15rem;
}

.card > h2 {
  font-size: 1rem;
  text-align: center;
}
