#start-wrapper,
#end-wrapper {
  height: 90svh;
}

#start-wrapper > .start-end-wrappers {
  height: 50%;
  grid-template: 5rem 1fr/ 1fr;
}

#end-wrapper > .start-end-wrappers {
  height: 80%;
  grid-template: 5rem 1fr 1fr/ 1fr;
}

#end-wrapper > .start-end-wrappers > img {
  height: 20rem;
  max-width: 90%;
}

.start-end-wrappers {
  align-items: center;
  background-color: var(--darker-white);
  border-radius: 2rem;
  box-shadow:
    0 0 15px #0000007a,
    inset 0 0 5px #0000007a;
  color: var(--black);
  display: grid;
  justify-items: center;
  text-align: center;
  width: clamp(350px, 50%, 500px);
}

#difficulty-menu > div > label {
  font-size: 0.9rem;
  margin: 0.5rem;
  position: relative;
}

#difficulty-menu > div > label > input {
  margin: 0 0.5rem;
}

.start-end-btns {
  background-color: var(--red);
  border: 3px solid var(--red);
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  padding: 0.75rem 2rem;
  letter-spacing: -0.05rem;
  transition: all 0.2s;
}

.start-end-btns:hover {
  background-color: var(--white);
  color: var(--red);
}

#start-btn {
  margin-top: 4rem;
}
